.Rhistory
ec29.Rproj
.Rproj.user/shared/notebooks/AD8D422E-coronavirus/1/s/chunks.json
*.json
*.pper
*.pper
.Rproj.user/2FA5B685/pcs/source-window.pper
.Rproj.user/2FA5B685/pcs/windowlayoutstate.pper
.Rproj.user/2FA5B685/pcs/workbench-pane.pper
.Rproj.user/2FA5B685/rmd-outputs
.Rproj.user/2FA5B685/sources/prop/05088930
.Rproj.user/2FA5B685/sources/prop/0719FA84
.Rproj.user/2FA5B685/sources/prop/0D699978
.Rproj.user/2FA5B685/sources/prop/13C456A7
.Rproj.user/2FA5B685/sources/prop/146F833B
.Rproj.user/2FA5B685/sources/prop/14F0CED3
.Rproj.user/2FA5B685/sources/prop/17CF87AB
.Rproj.user/2FA5B685/sources/prop/1F94E41A
.Rproj.user/2FA5B685/sources/prop/2B16A9A1
.Rproj.user/2FA5B685/sources/prop/32D86A13
.Rproj.user/2FA5B685/sources/prop/3842E1CD
.Rproj.user/2FA5B685/sources/prop/5AE82125
.Rproj.user/2FA5B685/sources/prop/6237F9B4
.Rproj.user/2FA5B685/sources/prop/6DE58FF9
.Rproj.user/2FA5B685/sources/prop/73CB9041
.Rproj.user/2FA5B685/sources/prop/744ED097
.Rproj.user/2FA5B685/sources/prop/75259625
.Rproj.user/2FA5B685/sources/prop/89BB8AC1
.Rproj.user/2FA5B685/sources/prop/8FF0CF81
.Rproj.user/2FA5B685/sources/prop/91D108FB
.Rproj.user/2FA5B685/sources/prop/9BF57AE5
.Rproj.user/2FA5B685/sources/prop/9D39689C
.Rproj.user/2FA5B685/sources/prop/9DC14730
.Rproj.user/2FA5B685/sources/prop/A8733A4E
.Rproj.user/2FA5B685/sources/prop/A957F6A8
.Rproj.user/2FA5B685/sources/prop/AFF83CB2
.Rproj.user/2FA5B685/sources/prop/B037E039
.Rproj.user/2FA5B685/sources/prop/B31C1243
.Rproj.user/2FA5B685/sources/prop/B48A82B1
.Rproj.user/2FA5B685/sources/prop/B4950459
.Rproj.user/2FA5B685/sources/prop/B7E3F455
.Rproj.user/2FA5B685/sources/prop/C33AB8EE
.Rproj.user/2FA5B685/sources/prop/C66DC122
.Rproj.user/2FA5B685/sources/prop/CD8C7B15
.Rproj.user/2FA5B685/sources/prop/D038152F
.Rproj.user/2FA5B685/sources/prop/D0E62CAD
.Rproj.user/2FA5B685/sources/prop/D3310113
.Rproj.user/2FA5B685/sources/prop/D9578617
.Rproj.user/2FA5B685/sources/prop/E5C66C9E
.Rproj.user/2FA5B685/sources/prop/E6A76864
.Rproj.user/2FA5B685/sources/prop/EAB99C6A
.Rproj.user/2FA5B685/sources/prop/EC5127A5
.Rproj.user/2FA5B685/sources/prop/EDE52BF7
.Rproj.user/2FA5B685/sources/prop/FD7CEF43
.Rproj.user/2FA5B685/sources/prop/INDEX
.Rproj.user/2FA5B685/sources/s-0CEF06F9/00DFF5E9
.Rproj.user/2FA5B685/sources/s-0CEF06F9/00DFF5E9-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/11B84115-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/21B8660A-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/3057D9C9
.Rproj.user/2FA5B685/sources/s-0CEF06F9/3057D9C9-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/9D02C62F-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/A39A8384-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/DD755E5F-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/E2ADB2E3-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/E7916DC6
.Rproj.user/2FA5B685/sources/s-0CEF06F9/E7916DC6-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/EA7AA768-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/F4E5CE1F-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/F84D4698
.Rproj.user/2FA5B685/sources/s-0CEF06F9/F84D4698-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/1D1E3C07
.Rproj.user/2FA5B685/sources/s-10322CC5/1D1E3C07-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/595AF33F
.Rproj.user/2FA5B685/sources/s-10322CC5/595AF33F-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/830B72AE
.Rproj.user/2FA5B685/sources/s-10322CC5/830B72AE-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/90C5396F-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/9EAB2074-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/B1DFE898
.Rproj.user/2FA5B685/sources/s-10322CC5/B1DFE898-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/BA1D5C68-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/F4A22553
.Rproj.user/2FA5B685/sources/s-10322CC5/F4A22553-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/lock_file
.Rproj.user/2FA5B685/sources/s-10DDB011/00DFF5E9-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/0233B64B-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/086C15CF-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/0BADE16D-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/11B84115-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/1AAA1DE1-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/21B8660A-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/2282A8C9-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/2411BCD6-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/2B4E420E-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/3057D9C9-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/30B67818-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/34E1366D-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/3A465A4A-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/410FDA19
.Rproj.user/2FA5B685/sources/s-10DDB011/410FDA19-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/41666280-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/4522D967-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/472A01C2-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/508FDD39-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/5B7FCB33-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/683A03CA-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/68793EC6-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/698E9482
.Rproj.user/2FA5B685/sources/s-10DDB011/698E9482-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/6ECC7E87-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/88C4D475-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/979A336C
.Rproj.user/2FA5B685/sources/s-10DDB011/979A336C-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/9994B477-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/9D02C62F-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/9D12D393-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/A39A8384-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/A3DFAADA
.Rproj.user/2FA5B685/sources/s-10DDB011/A3DFAADA-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/AB596576-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/B7038AE4-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/BC1C10E8-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/D1D4FC55-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/D25586F5-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/D4D7164E-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/D9E38F3F-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/DD755E5F-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/E2ADB2E3-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/E7916DC6-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/EA7AA768-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/EDD0E54F-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/F3015A82-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/F4E5CE1F-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/F84D4698-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/FE684720-contents
.Rproj.user/2FA5B685/sources/s-10DDB011/lock_file
.Rproj.user/2FA5B685/sources/s-49DA7390/0233B64B
.Rproj.user/2FA5B685/sources/s-49DA7390/0233B64B-contents
.Rproj.user/2FA5B685/sources/s-49DA7390/810AE225-contents
.Rproj.user/2FA5B685/sources/s-49DA7390/C75A2288
.Rproj.user/2FA5B685/sources/s-49DA7390/C75A2288-contents
.Rproj.user/shared/notebooks/081657D8-coronavirus_mundo/1/s/chunks.json
.Rproj.user/shared/notebooks/AD8D422E-coronavirus/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
regs/7A438820
*.ini
*.pper
*.pper
.Rhistory
*.json
*.json
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/AD8D422E-coronavirus/1/s/chunks.json
.Rproj.user/shared/notebooks/081657D8-coronavirus_mundo/1/s/chunks.json
.Rproj.user/2FA5B685/sources/s-49DA7390/C75A2288-contents
.Rproj.user/2FA5B685/sources/s-49DA7390/C75A2288
.Rproj.user/2FA5B685/sources/s-49DA7390/810AE225-contents
.Rproj.user/2FA5B685/sources/s-49DA7390/0233B64B-contents
.Rproj.user/2FA5B685/sources/s-49DA7390/0233B64B
.Rproj.user/2FA5B685/sources/s-10322CC5/lock_file
.Rproj.user/2FA5B685/sources/s-10322CC5/F4A22553-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/F4A22553
.Rproj.user/2FA5B685/sources/s-10322CC5/BA1D5C68-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/B1DFE898-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/B1DFE898
.Rproj.user/2FA5B685/sources/s-10322CC5/9EAB2074-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/90C5396F-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/830B72AE-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/830B72AE
.Rproj.user/2FA5B685/sources/s-10322CC5/595AF33F-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/595AF33F
.Rproj.user/2FA5B685/sources/s-10322CC5/1D1E3C07-contents
.Rproj.user/2FA5B685/sources/s-10322CC5/1D1E3C07
.Rproj.user/2FA5B685/sources/s-0CEF06F9/F84D4698-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/F84D4698
.Rproj.user/2FA5B685/sources/s-0CEF06F9/F4E5CE1F-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/EA7AA768-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/E7916DC6-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/E7916DC6
.Rproj.user/2FA5B685/sources/s-0CEF06F9/E2ADB2E3-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/DD755E5F-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/A39A8384-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/9D02C62F-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/3057D9C9-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/3057D9C9
.Rproj.user/2FA5B685/sources/s-0CEF06F9/21B8660A-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/11B84115-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/00DFF5E9-contents
.Rproj.user/2FA5B685/sources/s-0CEF06F9/00DFF5E9
.Rproj.user/2FA5B685/sources/s-04ABF4F3/lock_file
.Rproj.user/2FA5B685/sources/s-04ABF4F3/F4B81490-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/F464E201-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/F11B28FE-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/F11AA406-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/E7C1B86B-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/D2259A92-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/C3EFFCC8-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/BB42759E-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/AFB81006
.Rproj.user/2FA5B685/sources/s-04ABF4F3/A62C6442-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/A3DA49E6-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/9EEEE8BC-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/9AAACC50-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/9AAACC50
.Rproj.user/2FA5B685/sources/s-04ABF4F3/86ACB6C1-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/86943BFE-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/78ED1F14-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/74A0F57A-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/74A0F57A
.Rproj.user/2FA5B685/sources/s-04ABF4F3/7179C664-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/71659D9B-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/6F6C9577-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/698E9482-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/68F6DF1F-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/672FCA71-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/53AAEBE0-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/51EDBB8C-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/518DA416-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/518DA416
.Rproj.user/2FA5B685/sources/s-04ABF4F3/4E68C318-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/4B201117-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/4B201117
.Rproj.user/2FA5B685/sources/s-04ABF4F3/49629B2E-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/49629B2E
.Rproj.user/2FA5B685/sources/s-04ABF4F3/3EECA8AF-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/3EECA8AF
.Rproj.user/2FA5B685/sources/s-04ABF4F3/3D24B856-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/2D66A4C8-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/222F16B5-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/1A19108A-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/15BB9859-contents
.Rproj.user/2FA5B685/sources/s-04ABF4F3/0E86F9CF-contents
.Rproj.user/2FA5B685/sources/prop/INDEX
.Rproj.user/2FA5B685/sources/prop/DDD528DF
.Rproj.user/2FA5B685/sources/prop/D08FA616
.Rproj.user/2FA5B685/sources/prop/C66DC122
.Rproj.user/2FA5B685/sources/prop/9DC14730
.Rproj.user/2FA5B685/sources/prop/91D108FB
.Rproj.user/2FA5B685/sources/prop/86EA4B51
.Rproj.user/2FA5B685/sources/prop/744ED097
.Rproj.user/2FA5B685/sources/prop/73CB9041
.Rproj.user/2FA5B685/sources/prop/6DE58FF9
.Rproj.user/2FA5B685/sources/prop/328EB294
.Rproj.user/2FA5B685/sources/prop/2C0CDAB6
.Rproj.user/2FA5B685/sources/prop/17CF87AB
.Rproj.user/2FA5B685/sources/prop/05088930
.Rproj.user/2FA5B685/rmd-outputs
.Rproj.user/2FA5B685/pcs/workbench-pane.pper
.Rproj.user/2FA5B685/pcs/windowlayoutstate.pper
.Rproj.user/2FA5B685/pcs/source-window.pper
.Rproj.user/2FA5B685/pcs/source-pane.pper
.Rhistory
.Rproj.user/2FA5B685/sources/prop/04B4C55E
.Rproj.user/2FA5B685/sources/prop/B3F7A2CC
.Rproj.user/2FA5B685/sources/prop/INDEX
.Rproj.user/2FA5B685/sources/s-0D8599DF/4D1FEC1C
.Rproj.user/2FA5B685/sources/s-0D8599DF/4D1FEC1C-contents
.Rproj.user/2FA5B685/sources/s-0D8599DF/BBF931D7
.Rproj.user/2FA5B685/sources/s-0D8599DF/BBF931D7-contents
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
.Rproj.user/2FA5B685/sources/prop/INDEX
.Rproj.user/2FA5B685/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/2FA5B685/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
